
.vs/StockManagement/FileContentIndex/29fecec7-12a5-465d-96bf-08fd16d79b11.vsidx
*.bin
.vs/StockManagement/config/applicationhost.config
.vs/StockManagement/DesignTimeBuild/.dtbcache.v2
.vs/StockManagement/FileContentIndex/3ae4cbca-90af-44d4-8d00-23f318879f7b.vsidx
.vs/StockManagement/FileContentIndex/96ac4d4b-d84a-4d95-8045-d8d36b7f2c40.vsidx
.vs/StockManagement/FileContentIndex/1e689830-4496-4798-95af-58e76091f059.vsidx
.vs/StockManagement/FileContentIndex/dddd8246-429a-4011-8309-2ee90c64d7fd.vsidx
.vs/StockManagement/v17/.futdcache.v2
.vs/StockManagement/v17/.suo
